<div class="container p-3">
  <div class="col-4 offset-4">
    <p>You, <strong><%= @booking.user.name %></strong>,</p>
    <p>Rented the mother <strong><%= @booking.mother.name %></strong></p>
    <p>Starting at: <strong><%= @booking.starts_at %></strong></p>
    <p>Ending at: <strong><%= @booking.ends_at %></strong></p>
    <p>For a total price of <strong><%= @booking.price %> €</strong></p>
    <p>Happy Mothering!</p>
  </div>
</div>
