




<div class="container">
  <div class="row">
      <h1> Our selection of Mothers </h1>
    <div class="col-8 grid px-3" >
      <% @mothers.each do |mother| %>
          <%= link_to mother_path(mother)  do%>
            <div class="card-trip p-3" data-aos="fade-up">
                <%= cl_image_tag mother.photos.sample.key, height: 300, width: 400, crop: :fill %>
                <h2><%= mother.name %></h2>
                <p><%= mother.age %> yo</p>
                <p><%= mother.description %></p>

            </div>
          <% end %>
      <% end %>
    </div>

    <div class="col-4">
      <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
    </div>

    </div>
  </div>
</div>
