<div id="banner">
  <div class="container">
    <div class="col-8 ">
      <div class ="form-background">
          <h1>Ajouter une MILFR</h1>
          <%= simple_form_for [@user, @mother] do |t|%>
          <div class='form-flex'>
            <div class="col-10">
               <%= t.input :name , :label => "Nom de la MILFR"%>
            </div>
            <div class="col-2">
            <%= t.input :age %>
            </div>
          </div>
          <div class='form-flex'>
            <div class="col-9">
              <%= t.input :location %>
            </div>
            <div class="col-3">
              <%= t.input :price, :label => "Prix" %>
            </div>
          </div>
          <div class="col-12">
            <%= t.input :hobbies %>
          </div>
          <div class="col-12">
            <%= t.input :description %>
          </div>
          <%= t.input :photos, as: :file, input_html: { multiple: true } %>
          <%= t.submit "Ajouter ma MILFR", class: "btn-form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
