<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.thesun.co.uk/wp-content/uploads/2019/07/NINTCHDBPICT000509962875.jpg?w=1240);">
  <div class="container">
    <h1><%= @mother.name %></h1>
    <p><%= @mother.description %></p>
  </div>
</div>
<div class="container">
        <% @mother.photos.each do |photo| %>
          <p class="text-center"><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></p>
        <% end %>
  <div class="d-flex">
    <div class="mother-info col-8 d-flex">
      <div>
        <h1><%= @mother.name %></h1>
        <p>Age: <%= @mother.age %></p>
        <p>Location: <%= @mother.location %></p>
        <p>Hobbies: <%= @mother.hobbies %></p>
        <p>Description: <%= @mother.description %></p>
        <p>Price: <%= @mother.price %></p>
<!--         <p>f</p> -->
<!--         <p>fds</p>
        <p>fds</p>
        <p>fds</p>
        <p>df</p>
        <p>fds</p>
        <p>df</p>
        <p>gdf</p>
        <p>fds</p>
        <p>fds</p>
        <p>fds</p>
        <p>fds</p>
        <p>df</p>
        <p>fds</p>
        <p>df</p>
        <p>gdf</p> -->
      </div>
      <div class="mother-info-owner-avatar">
        <% if user_signed_in? %>
          <% if User.find(@mother.user_id).avatar.attached? %>
            <%= User.find(@mother.user_id).avatar.key %>
          <% end %>
          <% else %>
            <%= image_tag "http://icons.iconarchive.com/icons/gianni-polito/colobrush/256/software-crystal-msn-icon.png", width: 40 %>
          <% end %>
      </div>
    </div>
    <div class="booking-card col-3 offset-1">
      <div class="container">
        <h3 class="text-center">Ajoutez des dates pour voir le prix</h3>
      </div>
          <%= simple_form_for [@mother, @booking] do |f| %>
          <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker", id: "range_end"} %>
          <%= f.button :submit, "Book now", class: "btn btn-flat" %>
      <% end %>

      <div>
        <p class="text-center"></p>
      </div>
      <div>
        <p>Cette belle-mère attire beaucoup l'attention.
           L'annonce a été consultée plus de 500 fois au cours de la dernière semaine.
        </p>
      </div>
    </div>
  </div>
</div>
