<div class="container">
  <div id="carouselExampleFade" class="col-8 offset-2 carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <% @mother.photos.each do |photo| %>
          <% if photo == @mother.photos.first %>
            <div class="carousel-item active">
            <%= cl_image_tag photo.key, class: "d-block w-100"%>
            </div>
          <% else %>
            <div class="carousel-item" data-interval="2000">
              <%= cl_image_tag photo.key, class: "d-block w-100"%>
            </div>
          <% end %>
          <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
          <p class="text-center"></p>
  <div class="d-flex">
    <div class="mother-info col-8 d-flex">
      <div>
        <h1><%= @mother.name %></h1>
        <p>Age: <%= @mother.age %></p>
        <p>Location: <%= @mother.location %></p>
        <p>Hobbies: <%= @mother.hobbies %></p>
        <p>Description: <%= @mother.description %></p>
        <p>Price: <%= @mother.price %></p>
      </div>
      <div class="mother-info-owner-avatar">
          <% if User.find(@mother.user_id).avatar.attached? %>
            <%= cl_image_tag User.find(@mother.user_id).avatar.key, class: "avatar" %>
          <% else %>
            <%= image_tag "http://icons.iconarchive.com/icons/gianni-polito/colobrush/256/software-crystal-msn-icon.png", width: 40 %>
          <% end %>
      </div>
    </div>
    <div class="booking-card col-3 offset-1">
      <div class="container">
        <h3 class="text-center">Ajoutez des dates pour voir le prix</h3>
      </div>
          <%= simple_form_for [@mother, @booking] do |f| %>
          <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker", id: "range_end"} %>
          <%= f.button :submit, "Book now", class: "btn btn-flat" %>
      <% end %>

      <div>
        <p class="text-center"></p>
      </div>
      <div>
        <p>Cette belle-mère attire beaucoup l'attention.
           L'annonce a été consultée plus de 500 fois au cours de la dernière semaine.
        </p>
      </div>
    </div>
  </div>
  <div class="reviews-info mother-info col-8">
      <h2>Reviews:</h2>
      <ul>
        <% @mother.reviews.each do |review| %>
          <li> <h5> <%= review.user.name %></h3><br><em><%= review.rating %> <%= review.description %></em></li>
        <% end %>
      </ul>

      <%= simple_form_for [@mother, @review] do |f|  %>
      <%= f.input :rating %>
      <%= f.input :description %>
      <%= f.submit "Submit" %>
      <% end %>
  </div>
</div>
