<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @mother.name %></h1>
    <p><%= @mother.description %></p>
  </div>
</div>
<div class="container">
  <div class="d-flex">
    <div class="mother-info col-8 d-flex">
      <div>
        <h1><%= @mother.name %></h1>
        <p>Age: <%= @mother.age %></p>
        <p>Location: <%= @mother.location %></p>
        <p>Hobbies: <%= @mother.hobbies %></p>
        <p>Description: <%= @mother.description %></p>
        <p>Price: <%= @mother.price %></p>
        <p>fds</p>
        <p>fds</p>
        <p>fds</p>
        <p>fds</p>
        <p>df</p>
        <p>fds</p>
        <p>df</p>
        <p>gdf</p>
        <p>fds</p>
        <p>fds</p>
        <p>fds</p>
        <p>fds</p>
        <p>df</p>
        <p>fds</p>
        <p>df</p>
        <p>gdf</p>
      </div>
      <div class="mother-info-owner-avatar">
      avatar
      </div>
    </div>
    <div class="booking-card col-3 offset-1">
      <div class="container">
        <h3 class="text-center">Ajoutez des dates pour voir le prix</h3>
      </div>
      <div>
        <p class="text-center"><%= link_to "Book now", "#", class: "btn btn-flat" %></p>
      </div>
      <div>
        <p>Cette belle-mère attire beaucoup l'attention.
           L'annonce a été consultée plus de 500 fois au cours de la dernière semaine.
        </p>
      </div>
    </div>
  </div>
</div>
