  <%= render "caroussel-show" %>
<div class="container">
  <div class="d-flex">
    <div class="col-8">
     <!--  JE TRAVAILLE A PARTIR D ICI SUR LA DESCRIPTION -->
      <div class="mother-info">
    <!--     C EST LE HEADER -->
        <div class="header d-flex justify-content-around align-items-stretch mother-info-card-top">
          <div class="mother-name">
            <ul class="list-inline">
              <li class="list-inline-item"><h5><%= @mother.name %></h5></li>
            </ul>
          </div>
          <div class="mother-price">
            <h5><%= @mother.price %>€</h5>
          </div>
        </div>
        <!--   FIN DU HEADER -->
        <div class="mother-content d-flex justify-content-between">
          <!--  PARTIE DE GAUCHE -->
          <div class="mother-stats">
            <ul class="mother-icons list-inline">
              <li class="list-inline-item"> </li>

              <li class="list-inline-item"><i class="fas fa-birthday-cake" style="margin-left: -10px"></i> Age</li>
              <p><%= @mother.age%> Ans</p>
              <li class="list-inline-item"><i class="fas fa-table-tennis"></i> Hobbies</li>
              <p> <%= @mother.hobbies %> </p>
              <li class="list-inline-item"><i class="fas fa-home"></i> Adresse</li>
              <p><%= @mother.location %></p>
            </ul>
          </div>
          <!--   FIN DEPARTIE DE GAUCHE -->
          <div class="mother-text">
            <p><%= @mother.description %>  <%= link_to(user_path(@mother.user)) do %>
                  <%=cl_image_tag User.find(@mother.user_id).avatar.key, title: User.find(@mother.user_id).name, class: "avatar"%>
                <% end %></p>
          </div>
        </div>
      </div>

    <!--      J'ARRETTE ICI --------- -->
    <%= render "reviews-board" %>
    </div>
    <% if current_user %>
      <div class="booking-card col-3 offset-1">
        <div class="container">
          <h3 class="text-center">Ajoutez des dates pour voir le prix</h3>
        </div>
            <%= simple_form_for [@mother, @booking] do |f| %>
            <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker", id: "range_start"} %>
            <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker", id: "range_end"} %>
            <div class="d-flex justify-content-between align-items-center"  data-toggle="modal" data-target="#CheckOutModal">
              <%= f.button :submit, "Book now", id: 'booking-button', data: { confirm: "Do you validate the booking? You will find the receipt and the money will be directly withdrawn from your pocket."}, class: "btn btn-flat", style: "background: #B71D12;" %>
              <h3 class="font-weight-bold" id="price-assessment"></h3>
            </div>
            <% end %>
        <div>
          <p class="text-center"></p>
        </div>
        <div>
          <p>Cette belle-mère attire beaucoup l'attention.
             L'annonce a été consultée plus de <strong><%= rand(10..50) * 10 %></strong> fois au cours de la dernière semaine.
          </p>
        </div>
      </div>

      <div class="modal" tabindex="-1" role="dialog" id="CheckOutModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Congratulation !</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>You, <strong></strong>,</p>
              <p>Rented the mother <strong></strong></p>
              <p>Starting at: <strong><span id='modalStart'></span></strong></p>
              <p>Ending at: <strong><span id="modalEnd"></span></strong></p>
              <p>For a total price of <strong><span id="modalPrix"></span> </strong></p>
              <p>Happy Mother-sitting!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeButton">Thank you!</button>
              <%= link_to "Return Home", root_path, class: "btn btn_primary mx-6" %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="booking-card col-3 offset-1">
        <div class="container">
          <div class="flex">
          <h2>Pour louer cette MILFR veuillez vous connecter.</h2>
            <div class= 'my-5'>
            <%= link_to "se connecter", new_user_session_path, class: "btn-form" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




