<div class="container">
  <%= render "caroussel-show" %>
  <div class="d-flex">
    <div class="mother-info col-8">
      <div class="d-flex justify-content-between mother-info-top">
        <div>
          <h1><%= @mother.name %></h1>

        </div>
        <div class="mother-info-owner-avatar">
          <% if User.find(@mother.user_id).avatar.attached? %>
            <%= cl_image_tag User.find(@mother.user_id).avatar.key, title: User.find(@mother.user_id).name, class: "avatar" %>
          <% else %>
            <%= image_tag "http://icons.iconarchive.com/icons/gianni-polito/colobrush/256/software-crystal-msn-icon.png", width: 40 %>
          <% end %>
        </div>
      </div>
      <div class="mother-info-info">
        <div class="d-flex justify-content-between">
          <h6>Age:</h6>
          <p><%= @mother.age %></p>
        </div>
        <div class="d-flex justify-content-between">
          <h6>Hobbies:</h6>
          <p><%= @mother.hobbies %></p>
        </div>
        <div class="d-flex justify-content-between">
          <h6>Price per day:</h6>
          <p><span id="price"><%= @mother.price %></span> €</p>
        </div>
        <h6 class="text-center">Location:</h6>
        <p class="text-center"><%= @mother.location %></p>
        <h6 class="text-center">Description:</h6>
        <p class="text-center"><%= @mother.description %></p>
      </div>
    </div>
    <div class="booking-card col-3 offset-1">
      <div class="container">
        <h3 class="text-center">Ajoutez des dates pour voir le prix</h3>
      </div>
          <%= simple_form_for [@mother, @booking] do |f| %>
          <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker", id: "range_start"} %>
          <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker", id: "range_end"} %>
          <div class="d-flex justify-content-between align-items-center">
            <%= f.button :submit, "Book now", class: "btn btn-flat" %>
            <h3 class="font-weight-bold" id="price-assessment"></h3>
          </div>
          <% end %>
      <div>
        <p class="text-center"></p>
      </div>
      <div>
        <p>Cette belle-mère attire beaucoup l'attention.
           L'annonce a été consultée plus de 500 fois au cours de la dernière semaine.
        </p>
      </div>
    </div>
  </div>
  <%= render "reviews-board" %>
</div>
