<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @mother.name %></h1>
    <p><%= @mother.description %></p>
    <%= link_to "Book now", "#", class: "btn btn-flat" %>
  </div>
</div>
<h1><%= @mother.name %></h1>
<p>Age: <%= @mother.age %></p>
<p>Location: <%= @mother.location %></p>
<p>Hobbies: <%= @mother.hobbies %></p>
<p>Description: <%= @mother.description %></p>
