<div class="container">

  <div class="d-flex">

    <div class="col-3 user-info-card" style="height:540px" >
      <div class="container">
        <div class="user-info-card-avatar">
          <%= cl_image_tag @user.avatar.key, class: "avatar-big" %>
        </div>
        <div class="user-info-card-middle">
          <p><i class="fas fa-comment-dots" style="color:#B71D12"></i> <%= @user.reviews.length %> Commentaire(s)</p>
          <p><i class="fas fa-check" style="color:green"></i> Utilisateur verifié</p>
        </div>
        <div class="user-info-card-middle">
          <p><i class="fas fa-female" style="color:#B71D12"></i> <%= @user.mothers.length %> MILFRs actuellement</p>
          <p><i class="fas fa-home" style="color:#B71D12"></i> Paris</p>
        </div>
        <div class="pt-3">
          <p><i class="fas fa-dollar-sign" style="color:#B71D12"></i> <%= @money %> euros recoltés avec tes MILFRs</p>
          <p><i class="fas fa-handshake" style="color:#B71D12"></i> <%= @bookings.length %> Réservations faites</p>
        </div>
      </div>
    </div>


    <div class="user-right-column col-4 offset-1 mt-3" style="padding-right: 0; padding-left: 0">
      <p class="mt-3"><strong>Requêtes en attente</strong></p>
        <div>
          <% @requests.each do |booking| %>
            <div class="border shadow-sm rounded d-flex justify-content-between align-items-center p-2 mb-1" data-booking-div-id='<%= booking.id %>'>
              <% if booking.user.avatar.attached? %>
                <%= link_to(user_path(booking.user)) do %>
                  <%= cl_image_tag booking.user.avatar.key, class: "avatar" %>
                <% end %>
              <% else %>
                <%= link_to(user_path(booking.user)) do %>
                  <%= image_tag "http://icons.iconarchive.com/icons/gianni-polito/colobrush/256/software-crystal-msn-icon.png", class: "avatar" %>
                <% end %>
              <% end %>
              <p class="text-left" style="margin-bottom: 0px;width: 173px;"><%= booking.user.name %>
                veut booker la mère
                <%= booking.mother.name %>
                <br><small><em>Du <%= booking.starts_at %>
                au <%= booking.ends_at %></em></small>
              </p>
              <div style="width:53px">
                  <%= link_to booking_accepted_path(booking), style:"font-size:25px", remote: true do  %>
                    <i data-booking-accepted-id="<%= booking.id %>" class="fas fa-check pr-1" style="color:green"></i>
                  <% end %>
                  <%= link_to booking_declined_path(booking), style:"font-size:25px", remote: true do  %>
                    <i data-booking-deleted-id="<%= booking.id %>" class="fas fa-times text-right" style="color:red"></i>
                  <% end %>
              </div>
            </div>
          <% end %>
        </div>
    </div>



    <div class="col-4 offset-1 my-3">
      <p class="mt-3"><strong>Tes MIFLRs</strong></p>
      <div class="d-flex justify-content-around flex-wrap mb-3 border-top">
        <% @user.mothers.first(2).each do |mother| %>
          <%= link_to mother_path(mother) do %>
            <div class="user-right-column-mother-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path mother.photos.sample.key, crop: :thumb, gravity: :face, width: 200, height: 200 %>')">
              <%= mother.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="user-right-column col-6 offset-3 my-3" style="padding-right: 0; padding-left: 0">
    <p class="mt-3"><strong>Tes réservations</strong></p>
        <% @bookings.each do |booking| %>
      <div class="border d-flex justify-content-between align-items-center shadow-sm rounded p-2 mb-1">
          <%= cl_image_tag booking.mother.photos.first.key, class: "avatar" %>
          <p style="margin-bottom: 0px; width: 300px;">
            <span style="font-size:16px">Duree: <%= (booking.starts_at.nil?)||(booking.ends_at.nil?) ? "" : ((Date.parse(booking.ends_at) - Date.parse(booking.starts_at)).to_i)%> jours</span>
            <br>
            <small>Du <%= booking.starts_at %> au
            <%= booking.ends_at %></small>
            <br> <small><em>Prix: <%= booking.price %> euros</em></small>
          </p>
          <div>
            <% if booking.decision %>
              <p style="font-size:16px"> Requête: <%= booking.accept ? "✓" : "X"%></p>
              <% if booking.accept %>
                <p style="font-size:16px; margin-bottom: 0px">Status: <%= booking.done ? "👌" : "⏳"%></p>
              <% end %>
            <% else %>
              <p style="font-size:16px"> En attente</p>
            <% end %>
          </div>
      </div>
        <% end %>
  </div>

</div>



