<div class="container" style="min-height: 86vh">
  <div class="d-flex">

    <div class="col-3 offset-1 user-info-card">
      <div class="container">
        <div class="user-info-card-avatar">
          <%= cl_image_tag @user.avatar.key, class: "avatar-big" %>
        </div>
        <div class="user-info-card-middle">
          <p><i class="fas fa-comment-dots" style="color:#B71D12"></i> <%= pluralize @user.reviews.length, "Commentaire" %></p>
          <p><i class="fas fa-check" style="color:green"></i>            Utilisateur verifié</p>
        </div>
        <div class="user-info-card-bottom">
          <p><i class="fas fa-female" style="color:#B71D12"></i>  <%= @user.mothers.length %> MILFRs actuellement</p>
          <p><i class="fas fa-home" style="color:#B71D12"></i>  Paris</p>
          <p><i class="fas fa-handshake" style="color:#B71D12"></i>  <%= pluralize @user.bookings.length, "Réservations effectuée" %></p>

        </div>
      </div>
    </div>
    <div class="user-right-column col-6 offset-1">
      <div class="user-right-column-top">
        <h1 style="font-size: 32px">Bonjour, je suis <%= @user.name %>!</h1>
        <p>Membre depuis le <%= @user.created_at.strftime("%d-%m-%Y") %></p>

        <p><i class="fas fa-quote-left"></i></p>
        <p><em>Depuis que j'ai découvert MILFR, ma vie a completement changée. J'ai beaucoup plus de temps libre que lorsque j'étais développeur fullstack, cerise sur le gateau, je gagne bien plus d'argent ! </em></p>
        <p class="text-sm-right"><i class="fas fa-quote-right"></i></p>
      </div>
        <h5>MILFRs de <%= @user.name %></h5>
      <div class="d-flex justify-content-around flex-wrap cards">
        <% @user.mothers.first(2).each do |mother| %>
          <%= link_to(mother_path(mother)) do %>
          <div class="user-right-column-mother-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path mother.photos.sample.key, crop: :thumb, gravity: :face, width: 200, height: 200 %>')">
            <%= mother.name %>
          </div>
          <% end %>
        <% end %>
          <div class="collapse" id="collapseExample">
            <div class="d-flex justify-content-around flex-wrap cards">
              <% @user.mothers.last(5).each do |mother| %>
                <%= link_to(mother_path(mother)) do %>
                <div class="user-right-column-mother-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path mother.photos.sample.key, crop: :thumb, gravity: :face, width: 200, height: 200 %>')">
                  <%= mother.name %>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
      <div class="user-right-column-btn">
        <p class="text-center">
          <a class="btn-form" id="btn-form-profile" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Show more !
          </a>
        </p>
      </div>
      <% @user.reviews.each do |com| %>
        <div class="user-right-column-reviews">
          <div class="d-flex justify-content-between profile-reviews-top">
            <h6><%= @user.name %> a loué <%= com.mother.name %>:</h6>
            <%= cl_image_tag com.mother.photos.first.key, class: "avatar" %>
          </div>
          <div class="profile-reviews-bottom">
            <p><%= com.description %></p>
            <% com.rating.times do %>
              <i class="fas fa-star mt-n3" style="color:#B71D12"></i>
            <% end %>
            <% (5 - com.rating).times do %>
              <i class="far fa-star" style="color:#B71D12"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


