<div class="container" style="height: 87vh">
  <div class="d-flex">

    <div class="col-4 user-info-card">
      <div class="container">
        <div class="user-info-card-avatar">
          <%= cl_image_tag @user.avatar.key, class: "avatar-big" %>
        </div>
        <div class="user-info-card-middle">
          <p><i class="fas fa-comment-dots"></i> <%= @user.reviews.length %> Commentaire(s)</p>
          <p><i class="fas fa-check" style="color:green"></i>            Utilisateur verifié</p>
        </div>
        <div>
          <p><i class="fas fa-female"></i> <%= @user.mothers.length %> MILFR actuellement</p>
          <p><i class="fas fa-home"></i>Paris</p>
        </div>
      </div>
    </div>
    <div class="user-right-column col-6 offset-1">
      <div class="user-right-column-top">
        <h1>Bonjour, je suis <%= @user.name %>!</h1>
        <p>Membre depuis le <%= @user.created_at.strftime("%d-%m-%Y") %></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, placeat voluptate iusto tempore, fugiat officiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, mollitia.</p>
      </div>
        <h5>MILFRs de <%= @user.name %></h5>
      <div class="d-flex justify-content-around">
        <% @user.mothers.sample(2).each do |mother| %>
          <div class="user-right-column-mother-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path mother.photos.sample.key, crop: :thumb, gravity: :face, width: 200, height: 200 %>')">
            <%= mother.name %>
          </div>
        <% end %>
      </div>
        <p style="color: blue">Show more !(<%= @user.mothers.length - 2 %>)</p>

      <div>
        <% @user.reviews.each do |com| %>
          <%= com.description %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-6"></div>
</div>

